<html>
<head>
    {% load static %}
    <title>PiExtract</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<style>

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  padding : 5px 15px;
}

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}

</style>
<body style="overflow-x:hidden;">

<nav class="navbar navbar-inverse navbar-expand-sm">
  <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'home' %}" style="position: relative;left: 80px;">PiExtract</a>
</nav>

<div class="container-fluid" style="position: relative;top: 25px;">
        <form class="form-inline" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="file" name="files" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Upload</button>
            </div>
          </form>
<!--        <a href="media/data.json" target="_blank">JSON link</a>-->
        <br>
        <br>
        <div class="row">
          <div class="col-md-6" style="overflow: scroll;">
               <span class="glyphicon glyphicon-zoom-in" onclick="zoomin()" style="font-size: 22px;"></span>
              <span class="glyphicon glyphicon-zoom-out" onclick="zoomout()" style="font-size: 22px;"></span>
              <img id="img" src="media/{{filename}}" style="width: 96%;height: 100%;">

          </div>
          <div class="col-md-6">
                <div id="exTab3">
                <ul  class="nav nav-pills">
                    <li class="active">
                <a  href="#1b" data-toggle="tab">Raw text</a>
                    </li>
                    <li><a href="#2b" data-toggle="tab">Output</a>
                    </li>
<!--                    <li><a href="#3b" data-toggle="tab">Tables</a>-->
<!--                    </li>-->
                </ul>
                    <div class="tab-content clearfix">
                      <div class="tab-pane active" id="1b">
                          <div style="overflow: auto; height: 450;">{{text}}</div>
                        </div>
                        <div class="tab-pane" id="2b">
<!--                            {% for i, j in form_text.items %}-->
<!--                            <div id="">{{i}}: {{j}}</div>-->
<!--                            {% endfor %}-->

                          <table id="projectSpreadsheet" class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Parameter</th>
                                <th scope="col">Value</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% for i, j in form_text.items %}
                              <tr>
                                  <td>{{i}}</td>
                                  <td>{{j}}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                          <a href="#" id="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">ExportToCSV</a>


                        </div>
                      <script>
                        $(document).ready(function () {

                            function exportTableToCSV($table, filename) {

                                  var $rows = $table.find('tr:has(td),tr:has(th)'),

                                      // Temporary delimiter characters unlikely to be typed by keyboard
                                      // This is to avoid accidentally splitting the actual contents
                                      tmpColDelim = String.fromCharCode(11), // vertical tab character
                                      tmpRowDelim = String.fromCharCode(0), // null character

                                      // actual delimiter characters for CSV format
                                      colDelim = '","',
                                      rowDelim = '"\r\n"',

                                      // Grab text from table into CSV formatted string
                                      csv = '"' + $rows.map(function (i, row) {
                                          var $row = $(row), $cols = $row.find('td,th');

                                          return $cols.map(function (j, col) {
                                              var $col = $(col), text = $col.text();

                                              return text.replace(/"/g, '""'); // escape double quotes

                                          }).get().join(tmpColDelim);

                                      }).get().join(tmpRowDelim)
                                          .split(tmpRowDelim).join(rowDelim)
                                          .split(tmpColDelim).join(colDelim) + '"',



                                      // Data URI
                                      csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);


                                    if (window.navigator.msSaveBlob) { // IE 10+
                                      //alert('IE' + csv);
                                      window.navigator.msSaveOrOpenBlob(new Blob([csv], {type: "text/plain;charset=utf-8;"}), "csvname.csv")
                                    }
                                    else {
                                      $(this).attr({ 'download': filename, 'href': csvData, 'target': '_blank' });
                                    }
                              }

                              // This must be a hyperlink
                              $("#xx").on('click', function (event) {

                                  exportTableToCSV.apply(this, [$('#projectSpreadsheet'), 'export.csv']);

                                  // IF CSV, don't do event.preventDefault() or return false
                                  // We actually need this to be a typical hyperlink
                              });

                          });
                      </script>

<!--                        <div class="tab-pane" id="3b">-->
<!--                            <div id="tbl" style="overflow: auto;"></div>-->
<!--                                <script type="text/javascript" charset="utf-8">-->
<!--                                    d3.text("media/output.csv", function(data) {-->
<!--                                        var parsedCSV = d3.csv.parseRows(data);-->
<!--                                        var container = d3.select("#tbl")-->
<!--                                            .append("table").attr("class", "table table-bordered table-striped")-->
<!--                                            .append("tbody")-->
<!--                                            .selectAll("tr")-->
<!--                                                .data(parsedCSV).enter()-->
<!--                                                .append("tr")-->

<!--                                            .selectAll("td")-->
<!--                                                .data(function(d) { return d; }).enter()-->
<!--                                                .append("td")-->
<!--                                                .text(function(d) { return d; });-->
<!--                                    });-->

<!--                                </script>-->
<!--                            </div>-->
<!--                        </div>-->
            </div>
        </div>
    </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12" style="overflow: scroll;margin-top: 50px;">
      <div id="tbl" style="overflow: auto;"></div>
<!--      <script type="text/javascript" charset="utf-8">-->
<!--        d3.text("media/output.csv", function(data) {-->
<!--            var parsedCSV = d3.csv.parseRows(data);-->
<!--            var container = d3.select("#tbl")-->
<!--                .append("table").attr("class", "table table-bordered table-striped")-->
<!--                .append("tbody")-->
<!--                .selectAll("tr")-->
<!--                    .data(parsedCSV).enter()-->
<!--                    .append("tr")-->

<!--                .selectAll("td")-->
<!--                    .data(function(d) { return d; }).enter()-->
<!--                    .append("td")-->
<!--                    .text(function(d) { return d; });-->
<!--        });-->
<!--      </script>-->
      </div>
    </div>
  </div>

</div>
</body>
<script src="{% static 'index.js'%}"></script>

</html>